body{
  color: white;
  background-color: #053305;
  font-family: 'Open Sans Condensed', sans-serif;
  background-image: url("hedge.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 1340;

}

a{
  color: white;
}

#arch{
  position: absolute;
  top: 150px;
  left: calc(50vw - 150px);
  z-index: -1;
}

#shed{
  position: absolute;
  top: 150px;
  left: calc(50vw - 100px);
}

#shed:hover{
  opacity: 0.0;
}

#hall{
  position: absolute;
  top: 800px;
  left: calc(50vw - 221.25px);
}

#gate{
  position: absolute;
  top:1300px;
}
